body{
  margin: auto;
  border: blue;
}
.no_margin{
 margin: auto;
}



#boderline{
 border: 1px solid black;
 margin: 5px;
}
#bar{
  
  width: 100%;
  
}
#Avatar{
  float: right;
}

#filter{
   margin-top: 70px;
   margin-bottom: 70px;

}

#border{
  border: solid light;
}

#marg{
  margin-top: 10px;
  width: 3.5cm;
}

#margE{
  margin-top: 70px;
  margin-bottom: 30px;
}

#margl{
  margin-right: 10px;
  margin-bottom: 8px;
}

#margd{
  margin-right: 5px;
}

#margN{
  margin-bottom: 8px;
}


@media screen and (max-width:1600px){
  body{
      background-color:brown
  }
}

@media screen and (max-width:1400px){
  body{
      background-color:rgb(224, 169, 244)
  }
  #dropdown {
      margin-left: 30%;
      margin-top: 24%;
  }
}

